[submodule "20170912/caochun"]
	path = 20170912/caochun
	url = https://github.com/caochun/hellojava.git
[submodule "20170912/蒋雨霖-151220045"]
	path = 20170912/蒋雨霖-151220045
	url = https://github.com/jimmy233/myhomework
[submodule "Fianl Project/余翔-151220154"]
	path = Fianl Project/余翔-151220154
	url = http://github.com/REXYXX/Huluwa
[submodule "Fianl Project/郑彬-141220156"]
	path = Fianl Project/郑彬-141220156
	url = https://github.com/iambingoNJU/WarOfHS
[submodule "Fianl Project/於李-151220153"]
	path = Fianl Project/於李-151220153
	url = https://github.com/MugenU/java_final_project
